<div id="wrapper">
    <header>
        <div class="container">
            <a routerLink="/">NGX RBAC</a>
            <ul class="navbar">
                <li><a [routerLink]="['/post/intro']">Intro</a></li>
                <li><a [routerLink]="['/post/secret']">Secret</a></li>
                <li><a [routerLink]="['/admin']" ngxRbac="admin" [ngxRbacClass]="{deny: 'disabled'}">Admin</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
        <app-toolbox></app-toolbox>
    </main>
    <footer>
        <div class="container">
            footer
        </div>
    </footer>
</div>
